:root {
    /* обычный для текста */
    --main-font-size: 15px;
    --main-color: #242426;
    --main-background: #F3F3F3;

    /* основной */
    --primary-color: #75C7CC;

    /* дополнительный */
    --addition-color: #1A6B70;
}

p.primary, a.primary {
    color: var(--primary-color);
}