AddDefaultCharset UTF-8

ErrorDocument 500 /500.php
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

RewriteEngine On
RewriteBase /

# remove .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# product page
RewriteRule ^product/([0-9]+) /product?id=$1 [NC,L]