AddDefaultCharset UTF-8

ErrorDocument 500 /500.php
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

RewriteEngine On
RewriteBase /

# remove .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# product page
RewriteRule ^product/([a-z0-9\-]+)-([0-9]+) /product?href=$1&id=$2 [NC,L]
RewriteRule ^shop/([a-z0-9]+) /shop?c=$1 [NC,L]