.passwordBlock {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.passwordView {
    width: 18px;
    height: 18px;
    background-color: var(--primary-color-light);
    border-radius: 70% 0 / 70%;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    right: 15px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}
.passwordView::before,
.passwordView::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #fff;
    border-radius: 100%;
}
.passwordView::after {
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    background-color: inherit; /* цвет зрачка как у родителя */ 
}
.passwordView:hover {
    background-color: var(--primary-color);
}
.passwordView:hover .passwordView-eyelid {
    background-color: var(--primary-hover-color);
}
.passwordView-eyelid {
    height: 100%;
    width: 150%;
    position: absolute;
    top: -70%;
    right: 70%;
    background-color: var(--primary-color);
    transform: rotate(-45deg);
    transition: inherit;
    cursor: inherit;
    z-index: 1;
}
.passwordView.close .passwordView-eyelid {
    top: -2px;
    right: -3px;
    border-radius: 50%;
}
input[name="password"] {
    padding-right: 45px;
}
input[name="password"]:hover ~ div .passwordView {
    background-color: var(--primary-hover-color);
}
input[name="password"]:hover ~ div .passwordView .passwordView-eyelid {
    background-color: var(--primary-active-color);
}