.product-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 30px;
    overflow: hidden;
    width: 320px;
    height: 580px;
    flex-grow: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
    border-radius: 8px;
}
.product-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    max-height: 300px;
}
.product-card-image img {
    width: auto;
    height: auto;
    border-radius: 3px;
}
.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.product-card-title {
    color: var(--primary-color);
}
.product-card-title, .product-card-text, .product-card-price {
    cursor: default;
    margin-bottom: 10px;
    word-break: break-word;
    width: 100%;
}
.product-card-text p {
    margin: 0;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-card img {
    max-height: 300px;
}

.main-categories {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    gap:20px;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;

    height: 320px;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.category:hover p {
    color: white;
    text-shadow: -1px 1px 5px #00000050;
}
.category:hover {
    background-size: 105%;
}
.category {flex-grow: 1;}
.all_categories {
    width: 100%;
    margin-bottom: 20px;
}
.category img
{width: 100%;}

.category p {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: var(--addition-color);
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.video-block {
    border-radius: 8px;
    width: 100%;
    height: 600px;
}

#features {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
}
.feature {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 370px;
    padding: 0px 60px;
}
.feature .feature__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-bottom: 40px;
}
.feature .feature__img img {
    color: var(--addition-color);
    width: 100px;
    transition: all 1s ease-in-out;
}
.feature__img img.hover {transform: scale(0.8);}
/* .feature .feature__img:hover img {
    transform: scale(0.8);
    transition: all 1.5s ease-in-out;
} */
.feature .feature__title {
    /* font-weight: bold; */
    font-size: 24px;
    color: var(--primary-color);
    margin: 0 0 20px 0;
}
.feature .feature__text {
    
}