@import "theme-settings.css";

@font-face {
    font-family: Mulish;
    src: url('/assets/fonts/Mulish-Variable.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--main-font-size);
    font-family: Mulish;
}

body {
    font-style: normal;
    font-weight: normal;
    color: var(--main-color);
    background-color: var(--main-background);
}

/* для Firefox */
.custom-scroll, body {
    scrollbar-width: thin;
    scrollbar-color: #cccccc transparent;
}

/* для Chrome/Edge/Safari */
.custom-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.custom-scroll::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
    border: 3px solid transparent;
}

section {
    margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--addition-color);
}

h1,h2,h3 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 80px;
}
h1 {
    font-size: 32px;
    font-weight: 600;
}
h2 {
    font-size: 28px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, span {cursor: default;}

ul {
    margin: 0;
    padding: 0;
}

a, button, input {
    color: var(--main-color);
    text-decoration: none;
    transition: all .2s ease-in-out;
}
    a:hover, button:hover, input:hover {
        color: var(--primary-color);
    }
        
header, .header-nav {
    font-size: 16px;
}

header {
    background-color: var(--main-background);
    padding: 20px 0;
    /* padding: 20px 50px; */
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo  {
    width: 170px;
}

.header-nav {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    height: 70px;
    background-color: white;
}
    .header-nav__pages, .header-nav__icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .header-nav__pages .item, .header-nav__icons .item .item__data {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-nav__pages .item a {
        color: var(--addition-color);
        display: inline-block;
        line-height: 1.7;
    }

    .header-nav__pages .item:not(:last-child) {
        margin-right: 80px;
    }

    .header-nav__icons .item:not(:last-child) {
        margin-right: 30px;
    }
        .header-nav__icons .item img {
            width: 27px;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

    .header-nav__pages .item a::after {
        transition: all .35s ease-in-out;
    }
    .header-nav__icons .item .item__data::after {
        transition: all .25s ease;
    }

    .header-nav__pages .item a::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: var(--addition-color);
    }
    .header-nav__pages .item a:hover::after,
    .header-nav__pages .item a:focus::after {
        width: 100%;
    }
    
    .header-nav__pages .item a:active {
        color: var(--primary-hover-color);
    }
    .header-nav__pages .item a:active::after {
        background-color: var(--primary-hover-color);
    }

    .header-nav__icons .item .item__data::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        z-index: -1;
    }
    
    .header-nav__icons .item .item__data:hover::after {
        width: 48px;
        height: 48px;
        background-color: var(--main-background);
        opacity: 1;
        cursor: pointer;
    }
    .header-nav__icons .item .item__data:active::after {
        background-color: #e7e7e7;
        width: 38px;
        height: 38px;
    }

.cart_number {
    position: absolute;
    font-size: 12px;
    margin-top: 6px;
    color: var(--addition-color);
}

form#search {
    
}

footer {
    margin-top: 140px;
    min-height: 300px;
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .social {
    font-size: 24px;
    max-width: 420px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 70px;
    letter-spacing: 2px;
}

.company_data {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.company_data li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__left {
    max-width: 685px;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* сокращения */
.user-select-none {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Chrome, Edge, Opera and Firefox */
    user-select: none;
}
.fw-bold {font-weight: bold!important;}
.text-uppercase {text-transform: uppercase!important;}
.text-lowercase {text-transform: lowercase!important;}
.d-flex {display: flex!important;}
.flex-row {flex-direction: row!important;}
.flex-column {flex-direction: column!important;}
.flex-wrap {flex-wrap: wrap!important;}
.flex-nowrap {flex-wrap: nowrap!important;}
.justify-content-center {justify-content: center!important;}
.justify-content-between {justify-content: space-between!important;}
.justify-content-around {justify-content: space-around!important;}
.justify-content-start {justify-content: flex-start!important;}
.justify-content-end {justify-content: flex-end!important;}
.align-items-center {align-items: center!important;}
.align-items-start {align-items: flex-start!important;}
.align-items-end {align-items: flex-end!important;}
.text-start {text-align: start!important;}
.text-end {text-align: end!important;}
.text-center {text-align: center!important;}
.w-100 {width: 100%!important;}
.w-auto {width: auto!important;}
.h-100 {height: 100%!important;}
.h-auto {height: auto!important;}
.w-100vw {width: 100vw!important;}
.h-100vh {width: 100vh!important;}
.m-0 {margin: 0!important;}
.mx-0 {margin-left: 0!important;margin-right: 0!important;}
.my-0 {margin-top: 0!important;margin-bottom: 0!important;}
.ms-0 {margin-left: 0!important;}
.me-0 {margin-right: 0!important;}
.mt-0 {margin-top: 0!important;}
.mb-0 {margin-bottom: 0!important;}
.p-0 {padding: 0!important;}
.px-0 {padding-left: 0!important;padding-right: 0!important;}
.py-0 {padding-top: 0!important;padding-bottom: 0!important;}
.ps-0 {padding-left: 0!important;}
.pe-0 {padding-right: 0!important;}
.pt-0 {padding-top: 0!important;}
.pb-0 {padding-bottom: 0!important;}