@import "theme-settings.css";

@font-face {
    font-family: Mulish;
    src: url('/assets/fonts/Mulish-Variable.ttf') format('truetype');
}

body {
    font-size: var(--main-font-size);
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    color: var(--main-color);
    background-color: var(--main-background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--addition-color);
}

h1,h2,h3 {margin: 100px 0 50px 0;}
h1 {
    font-size: 32px;
    font-weight: 600;
}
h2 {
    font-size: 28px;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, span {cursor: default;}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: all .2s ease-in-out;
}
    a:hover {
        color: var(--primary-color);
        /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); */
    }
        
header, .header-nav {
    font-size: 16px;
}

header {
    background-color: var(--main-background);
    padding: 20px 0;
    /* padding: 20px 50px; */
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo  {
    width: 170px;
}

.header-nav {
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    height: 70px;
    background-color: white;
}
    .header-nav__pages, .header-nav__icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .header-nav__pages .item, .header-nav__icons .item .item__data {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-nav__pages .item a {
        color: var(--addition-color);
        display: inline-block;
        line-height: 1.7;
    }

    .header-nav__pages .item:not(:last-child) {
        margin-right: 80px;
    }

    .header-nav__icons .item:not(:last-child) {
        margin-right: 30px;
    }
        .header-nav__icons .item img {
            width: 27px;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

    .header-nav__pages .item a::after {
        transition: all .35s ease-in-out;
    }
    .header-nav__icons .item .item__data::after {
        transition: all .25s ease;
    }

    .header-nav__pages .item a::after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: var(--addition-color);
    }
    .header-nav__pages .item a:hover::after,
    .header-nav__pages .item a:focus::after {
        width: 100%;
    }
    
    .header-nav__pages .item a:active {
        color: var(--primary-hover-color);
    }
    .header-nav__pages .item a:active::after {
        background-color: var(--primary-hover-color);
    }

    .header-nav__icons .item .item__data::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        z-index: -1;
    }
    
    .header-nav__icons .item .item__data:hover::after {
        width: 48px;
        height: 48px;
        background-color: var(--main-background);
        opacity: 1;
        cursor: pointer;
    }
    .header-nav__icons .item .item__data:active::after {
        background-color: #e7e7e7;
        width: 38px;
        height: 38px;
    }

.cart_number {
    position: absolute;
    font-size: 12px;
    margin-top: 6px;
    color: var(--addition-color);
}

form#search {
    
}

footer {
    min-height: 300px;
    font-size: 16px;
    background: linear-gradient(#ffffff00, #fff);
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .social {
    font-size: 24px;
    max-width: 420px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 70px;
}

.company_data {
    display: flex;
    flex-direction: column;
}
.company_data li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__left {
    max-width: 685px;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* сокращения */
.user-select-none {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Chrome, Edge, Opera and Firefox */
    user-select: none;
}
.fw-bold {font-weight: bold;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}
.d-flex {display: flex;}
.flex-row {flex-direction: row;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-nowrap {flex-wrap: nowrap;}
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.justify-content-around {justify-content: space-around;}
.justify-content-start {justify-content: flex-start;}
.justify-content-end {justify-content: flex-end;}
.align-items-center {align-items: center;}
.align-items-start {align-items: flex-start;}
.align-items-end {align-items: flex-end;}
.text-start {text-align: start;}
.text-end {text-align: end;}
.text-center {text-align: center;}