.product {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.product__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 40px;
    flex-wrap: wrap;
}
.product__images {
    display: flex;
}
.product__images__additional {
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 20px;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
}

.product__images__additional.custom-scroll {
    padding-right: 5px;
    margin-right: 15px;
}

.product__images__additional .item {
    width: 95px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__images__additional .item img {
    height: 100%;
}
.product__images__main {
    width: 430px;
    height: 500px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.product__images__main.noAddImgs {width: 540px;}
.product__images__main .item img {
    width: 100%;
}
.product__title {
    margin: 10px 0 20px 0;
    background-color: white;
    padding: 40px 0;
}
.product__title h1 {font-size: 28px;color: var(--main-color);}
.product__shortInfo {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 40px;
}
.headTitle {margin-bottom: 10px;}
.shortInfo__desc__lists  {
    display: flex;
    flex-direction: column;
}
.shortInfo__desc__lists__list {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.shortInfo__desc__lists__list .item {
    position: relative;
    left: 20px;
}
.shortInfo__desc__lists__list .item::first-letter {text-transform: capitalize;}
.shortInfo__desc__lists__list .item::before {
    content: "";
    position: absolute;
    background-image: url(/assets/icons/view-box-circle.svg);

    left: -26px;
    top: -1px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.addCart {
    background-color: white;
    height: fit-content;
    width: 340px;
    padding: 20px 24px;
    border-radius: 8px;
}
.addCart__price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
}
.addCart__price__old {
    margin-left: 14px;
    font-size: 14px;
    font-weight: bold;
}
.addCart__price__main {
    font-size: 22px;
    font-weight: bold;
}
.addCart__price__old {
    text-decoration: line-through #333333;
    color: #777777;
}
.addCart_buyCounter {
    margin-bottom: 10px;
    color: #888888;
}
.product__info__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
}
/* .product__images__additional .item, */
.product__images__main,
.product__shortInfo_desc,
.addCart {
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.product__shortInfo_desc {
    height: 500px;
    padding: 20px 24px;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
}
.product__shortInfo_desc .item {width: fit-content;}
.countryName::first-letter {text-transform: capitalize;}