:root {
    /* обычный для текста */
    --main-font-size: 15px;
    --main-color: #242426;
    --main-background: #F3F3F3;

    /* основной */
    --primary-color: #75C7CC;
    --primary-hover-color: #5c9fa3;
    --primary-active-color: #538183;

    --primary-color-light: #a1dbde;
    --primary-hover-color-light: #c8e9eb;

    /* дополнительный */
    --addition-color: #1A6B70;
}

p.primary, a.primary {
    color: var(--primary-color);
}

.button {
    min-width: 150px;
    width: fit-content;
    height: 45px;
    padding: 0 15px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}
.button, .button.primary {
    background-color: var(--primary-color);
    color: white;
}
    .button:hover {
        background-color: var(--primary-hover-color);
        color: white;
    }
    .button:active {
        background-color: var(--primary-active-color);
        color: white;
    }

.button.elems {display: flex; justify-content: space-between;}

.button img {
    pointer-events: none;
}
.button > * {cursor: pointer!important;}

.field {
    width: 150px;
    height: 45px;
    padding: 0 15px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
}
.field, .field.primary {
    border: 2px solid var(--primary-color);
    color: var(--main-color);
}
    .field:hover, .field:focus {
        border-color: var(--primary-hover-color);
    }
    .field:active {
        border-color: var(--primary-active-color);
    }

.field.elems {display: flex; justify-content: space-between;}
.field > * {cursor: vertical-text!important;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 200ms ease-in-out;}
input::-moz-placeholder                {opacity: 1; transition: opacity 200ms ease-in-out;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 200ms ease-in-out;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 200ms ease-in-out;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 200ms ease-in-out;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 200ms ease-in-out;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 200ms ease-in-out;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 200ms ease-in-out;}