:root {
    /* обычный для текста */
    --main-font-size: 15px;
    --main-color: #242426;
    --main-background: #F3F3F3;

    /* основной */
    --primary-color: #75C7CC;
    --primary-hover-color: #5c9fa3;
    --primary-active-color: #538183;

    /* дополнительный */
    --addition-color: #1A6B70;
}

p.primary, a.primary {
    color: var(--primary-color);
}

.button {
    width: 150px;
    height: 45px;
    padding: 0 15px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}
.button, .button.primary {
    background-color: var(--primary-color);
    color: white;
}
    .button:hover {
        background-color: var(--primary-hover-color);
        color: white;
    }
    .button:active {
        background-color: var(--primary-active-color);
        color: white;
    }

.button.elems {display: flex; justify-content: space-between;}

.button img {
    pointer-events: none;
}
a.button {
    display: flex;
    justify-content: center;
    align-items: center;
}